.hero-body {
  background-size: cover;
  background-position: center center;
  background-image: url("https://fsbolero.io/img/banner.jpg");
}

.footer-follow-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
